{% extends "::base.html.twig" %}

{% block title %}AppBundle:flashMessage:update{% endblock %}

{% block body %}
<h1>Welcome to the flashMessage:update page</h1>

    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}

{# ...or you can read and display every flash message available #}
{% for type, flash_messages in app.session.flashBag.all %}
    {% for flash_message in flash_messages %}
        <div class="flash-{{ type }}">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endfor %}


{% endblock %}
